<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
      <mat-card class="top-track-card">
        <mat-card-title-group
          ><mat-card-subtitle>Top track</mat-card-subtitle
          ><mat-card-title class="display-6"
            >{{ tracks?.items?.[0].name }} -
            {{ tracks?.items?.[0].artists[0].name }}</mat-card-title
          >
          <img
            style="border-radius: 5px"
            height="50vh"
            width="50vh"
            [src]="tracks?.items?.[0].album.images[0].url"
          /> </mat-card-title-group
      ></mat-card>
    </div>
    <div class="col">
      <mat-card class="top-track-card">
        <mat-card-title-group
          ><mat-card-subtitle>Top artist</mat-card-subtitle
          ><mat-card-title class="display-6">{{ topArtist }}</mat-card-title>
          <img
            style="border-radius: 5px"
            height="50vh"
            width="50vh"
            [src]="topArtistImage" /></mat-card-title-group
      ></mat-card>
    </div>
  </div>
  <div class="row justify-content-md-center align-items-md-center">
    <div class="col">
      <ngx-charts-bar-vertical
        class="bar-chart"
        [xAxis]="true"
        [yAxis]="true"
        [yScaleMax]="100"
        [view]="[600, 600]"
        [showGridLines]="false"
        [showDataLabel]="true"
        [gradient]="true"
        [customColors]="[
          { name: 'Popularity', value: '#5BAE8A' },
          { name: 'Danceability', value: '#ADFFD6' },
          { name: 'Energy', value: '#088750' },
          { name: 'Positiveness', value: '#1b4332' }
        ]"
        [results]="[
          { name: 'Popularity', value: avgPopularity },
          { name: 'Danceability', value: avgDanceability * 100 },
          { name: 'Energy', value: avgEnergy * 100 },
          { name: 'Positiveness', value: avgValence * 100 }
        ]"
      ></ngx-charts-bar-vertical>
    </div>
    <div class="col-md-auto">
      <ngx-charts-number-card
        [results]="[{ name: 'Loudness', value: avgLoudness.toFixed(2) + 'dB' }]"
        [view]="[150, 150]"
        bandColor="#1DB95480"
      >
      </ngx-charts-number-card>
      <ngx-charts-number-card
        [results]="[{ name: 'Tempo', value: avgTempo.toFixed(0) + 'BPM' }]"
        [view]="[150, 150]"
        bandColor="#1DB95480"
      >
      </ngx-charts-number-card>
    </div>
  </div>
</div>
