.navbar-brand {
    color: #1DB954;
    font-size: 3rem;
}

.navbar-brand small {
    color: #B8B8B8;
    font-size: 2rem;
}

.navbar-toggler {
    background-color: #eeeeee50;
    color: #1DB95490;
}

.offcanvas {
    background-color: #252222;
    width: 300px;
    text-align: center;
}

.offcanvas-title {
    font-size: 2rem;
    color: #1DB954;
}

.offcanvas button {
    background-color: #eeeeee50;
    color: #1DB95490;
}

@media all and (max-width: 1000px) {
    .navbar-brand {
        font-size: 2rem;
    }

    .navbar-brand small {
        font-size: 1rem;
    }
}

@media all and (max-width: 500px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-brand small {
        font-size: 0.8rem;
    }
}

.container {
    margin-top: 75px
}

.logout a {
    background-color: #eee;
    color: #252222;
    width: 200px;
    padding: 5px;
}

#login {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

::ng-deep .login-snackbar {
    background-color: #eee;
    color: #252222;
    width: 500px;
}

::ng-deep .login-snackbar .mat-simple-snackbar-action {
    color: #1DB954;
}

#loggedin {
    display: flex;
    justify-content: space-around;
}

.button-title {
    padding: 5px 5px 5px 10px;
}

a.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
    vertical-align: top;
    font-size: 1.25em;
}

.footer-div {
    background-color: #EEEEEE10;
    padding: 20px;
    font-size: 0.9rem;
}

.footer {
    display: flex;
    justify-content: space-around;
}

#github {
    margin: 0;
    text-align: center;
}

#github a {
    color: #eee;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

#github a:hover {
    color: #1DB954;
}

#disclaimer {
    text-align: center;
}