<div class="d-flex flex-column min-vh-100">
  <nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 display-1">
        <img
          src="../../assets/img/statify.png"
          alt=""
          width="30"
          height="30"
          class="d-inline-block align-text-middle"
        />
        {{ title }}
        <small>Visualize your Spotify statistics.</small>
      </span>
      <button
        *ngIf="isLoggedIn"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <p class="offcanvas-title display-1" id="offcanvasNavbarLabel">
            Actions
          </p>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <div class="logout">
            <a
              mat-raised-button
              data-bs-dismiss="offcanvas"
              aria-label="spotify-icon"
              (click)="logout()"
              routerLink="/"
            >
              <mat-icon svgIcon="spotify-icon"></mat-icon>
              <span class="button-title display">Logout</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div *ngIf="!isLoggedIn; else userIsLoggedIn" id="login">
      <app-login></app-login>
    </div>
    <ng-template #userIsLoggedIn>
      <div id="loggedin">
        <app-profile></app-profile>
      </div>
    </ng-template>
  </div>

  <nav class="navbar mt-auto footer-div">
    <div class="container-fluid footer">
      <i id="disclaimer"
        >We are not related to Spotify AB or any of its partners in any way.</i
      >
      <p id="github">
        <a href="https://github.com/chomelc/Spotistics" target="_blank"
          >Designed & Built by Clémence Chomel</a
        >
      </p>
      <a href="https://www.buymeacoffee.com/chomelcl" target="_blank">
        <img
          src="../../assets/img/bmc-button.png"
          alt="Buy me a coffee!"
          width="150px"
        />
      </a>
    </div>
  </nav>
</div>
