.profile-header {
    text-align: center;
    padding: 30px;
    background-color: #eeeeee10;
    border-radius: 5px;
    margin-bottom: 35px;
}

#name {
    font-size: 2.2rem;
    padding-top: 1rem;
}

#id {
    font-size: 1.6rem;
}

@media all and (max-width: 1000px) {
    #name {
        font-size: 2rem;
    }

    #id {
        font-size: 1rem;
    }

    #country {
        font-size: 0.8rem;
    }

    img {
        outline: solid 3px #1DB954;
        width: 20%;
        height: auto;
    }
}

@media all and (max-width: 500px) {
    #name {
        font-size: 1.5rem;
    }

    #id {
        font-size: 1rem;
    }

    #country {
        font-size: 0.8rem;
    }
}

#id a {
    color: #1DB954;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

#id a:hover {
    text-decoration: underline;
}

#country {
    font-size: 1.3rem;
    color: #eeeeee90;
}

img {
    border-radius: 50%;
    outline: solid 6px #1DB954;
    outline-offset: 5px;
}