<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabs">Last 4 weeks</span>
    </ng-template>
    <app-four-weeks-stats [accessToken]="accessToken"></app-four-weeks-stats>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabs">Last 6 months</span>
    </ng-template>

    <app-six-months-stats [accessToken]="accessToken"></app-six-months-stats
  ></mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>
      <span class="tabs">All time</span>
    </ng-template>

    <app-all-time-stats [accessToken]="accessToken"></app-all-time-stats
  ></mat-tab>
</mat-tab-group>
