.tabs {
    color: #eee;
    font-size: 1.5rem;
}

::ng-deep .mat-ink-bar {
    background-color: #1DB954 !important;
}

::ng-deep .gauge text {
    fill: #eee;
    transform: scale(1, 1)
}

::ng-deep .value-text {
    font-size: 18pt !important;
}

::ng-deep .top-track-card {
    width: 500px;
    margin-top: 15px;
    background-color: #eeeeee20;
    color: #eee;
}

::ng-deep .top-track-card .mat-card-subtitle {
    color: #1DB954;
}

::ng-deep .top-track-card .mat-card-title {
    font-size: 1rem;
}