.tabs {
    color: #eee;
}

@media all and (max-width: 1000px) {
    .tabs {
        font-size: 1.5rem;
    }

    ::ng-deep .top-track-card .mat-card-title {
        font-size: 0.8rem;
    }
}

@media all {
    .tabs {
        font-size: 1rem;
    }

    ::ng-deep .top-track-card .mat-card-title {
        font-size: 1rem;
    }
}

@media all and (max-width: 500px) {
    .tabs {
        font-size: 0.8rem;
    }

    ::ng-deep .top-track-card .mat-card-title {
        font-size: 0.8rem;
    }
}

::ng-deep .mat-tab-label-active {
    background-color: #1DB95480;
    border-radius: 5px;
}

::ng-deep .mat-ink-bar {
    display: none;
}

::ng-deep .bar-chart text {
    fill: #eee;
}

::ng-deep .value-text {
    font-size: 1rem !important;
}

::ng-deep .top-track-card {
    max-width: 90vw;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #eeeeee20;
    color: #eee;
    text-align: left;
}

::ng-deep .top-track-card .mat-card-subtitle {
    color: #1DB954;
}