.tabs {
    color: #eee;
    font-size: 1.5rem;
}

::ng-deep .mat-tab-label-active {
    background-color: #1DB95480;
    border-radius: 5px;
}

::ng-deep .mat-ink-bar {
    /* background-color: #1DB954 !important; */
    display: none;
}

::ng-deep .bar-chart text {
    fill: #eee;
}

::ng-deep .value-text {
    font-size: 1rem !important;
}

::ng-deep .top-track-card {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #eeeeee20;
    color: #eee;
}

::ng-deep .top-track-card .mat-card-subtitle {
    color: #1DB954;
}

::ng-deep .top-track-card .mat-card-title {
    font-size: 1rem;
}