<mat-tab-group
  mat-align-tabs="center"
  #matTabGroup
  (selectedTabChange)="onMatTabChanged()"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabs">Last 4 weeks</span>
    </ng-template>
    <app-four-weeks-stats></app-four-weeks-stats>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tabs">Last 6 months</span>
    </ng-template>
    <app-six-months-stats></app-six-months-stats
  ></mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>
      <span class="tabs">All time</span>
    </ng-template>
    <app-all-time-stats></app-all-time-stats
  ></mat-tab>
</mat-tab-group>
