<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <!-- <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                class="d-inline-block align-text-top"> -->
            {{title}}
        </a>
        <span class="navbar-text">
            Visualize your Spotify statistics.
        </span>
        <div class="logout">
            <a *ngIf="isLoggedIn" mat-raised-button aria-label="spotify-icon" (click)="logout()">
                <mat-icon svgIcon="spotify-icon"></mat-icon>
                <span class="button-title">Logout</span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div *ngIf="!isLoggedIn;else userIsLoggedIn" id="login">
        <app-login></app-login>
    </div>
    <ng-template #userIsLoggedIn id="loggedin">
        <app-profile [accessToken]="accessToken"></app-profile>
    </ng-template>
</div>