<div class="display-1 profile-header">
  <img
    src="{{profile?.images?.[0]?.url}}"
    [alt]="profile?.display_name"
    height="150px"
    width="150px"
  />
  <p id="name">{{ profile?.display_name }}</p>
  <p id="id">
    <a [href]="profile?.external_urls?.spotify">@{{ profile?.id }}</a>
  </p>
  <p id="country">
    {{ profile?.country }} {{ profile?.country | flagEmoji }} |
    {{ profile?.product | titlecase }}
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <ngx-charts-number-card
        [results]="followers"
        [view]="[150, 150]"
        bandColor="#eeeeee40"
      >
      </ngx-charts-number-card>
    </div>
    <div class="col">
      <app-user-playlists
        [userId]="profile?.id"
        [accessToken]="accessToken"
      ></app-user-playlists>
    </div>
    <div class="col">
      <app-user-followed-artists
        [accessToken]="accessToken"
      ></app-user-followed-artists>
    </div>
    <div class="col">
      <app-user-saved-tracks
        [accessToken]="accessToken"
      ></app-user-saved-tracks>
    </div>
    <div class="col">
      <app-user-saved-albums
        [accessToken]="accessToken"
      ></app-user-saved-albums>
    </div>
  </div>
</div>

<app-stats-panel [accessToken]="accessToken"></app-stats-panel>
