/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #252222; color: #eee; }
body { margin: 0; font-family: "Helvetica Neue", Roboto, sans-serif; }
